html,body{
    height: 100vh;
    padding: 0;
    margin: 0;
}

.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

main{
    flex: 1;
}

/* ----------------------------------------------NAV-BAR------------------------------------------------- */

.header{
    padding: 0 30px;
    padding-top: 5px;
}

.row{
    display: grid;
    grid-template-columns: 0.5fr 2fr;
}

.logo{
    display: flex;
    width: fit-content;
}

.logo .name {
    display: flex;
    flex-basis:100px;
    font-family: "Saira", sans-serif;
    font-size: 1.2rem;
    font-weight: 500;
    flex-direction: column;
}

.name .studio {
    color: rgb(190,88,89);
}

.logo .vertical-hr {
    border-left: 2px solid rgba(201,147,150,255); /* Creates the vertical line */
    height: 100%;                /* Height of the line */
    margin-left: 10px; 
}

.nav{
    display: flex;
    justify-content: flex-end;
}

.row .nav ul {
    display: flex;
    gap: 25px;
    margin-top: 10px;
    cursor: pointer;
    font-family: "Fredoka", sans-serif;
    letter-spacing: 1px;
}

.row .nav li {
    display: inline;
    padding: 5px;
    font-weight: 400;
    font-size: 1.3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.nav svg {
    color: rgb(190,88,89);
}

.row .nav ul button {
    font-family: "Fredoka", sans-serif;
    letter-spacing: 1px;
    font-weight: 400;
    font-size: 1.1rem;
    padding: 5px 15px;
    border: 1px solid rgb(190,88,89);
    border-radius: 100px;
    background-color: rgb(190,88,89);
    color: white;
    cursor: pointer;
}

.row .nav ul button:hover {
    background-color: white;
    color: rgb(190,88,89);
}

/* -------------------------------MAIN-BODY------------------------- */

.body {
    padding-left: 30px;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.body p {
    font-family: "Noto Sans", sans-serif;
}

.body .first {
    margin-top: 70px;
    margin-bottom: 0;
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: 1px;
}

.body .sarvesh {
    font-size: 4.2rem;
    color: rgba(205,59,57,255);
    font-family: "Orbitron", sans-serif;
}

.body .address {
    font-size: 1.5rem;
    letter-spacing: 3px;
    color: rgb(113, 112, 112);
    /* font-family: "Saira", sans-serif; */
    font-family: "Orbitron", sans-serif;
}

.body .second {
    margin-top: 35px;
    font-size: 2rem;
    letter-spacing: 1px;
}