html,body{
    height: 100vh;
    padding: 0;
    margin: 0;
    /* background-color: rgb(248, 239, 236); */
    background-color: #f9f7f2;
}

.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

main{
    flex: 1;
}

/* ----------------------------------------------NAV-BAR------------------------------------------------- */

.header{
    padding: 20px 140px 20px;
    position: fixed;
    width: 78%;
    background-color: #f9f7f2;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.row{
    display: grid;
    grid-template-columns: 0.5fr 2fr;
}

.logo{
    display: flex;
    width: fit-content;
    cursor: pointer;
}

.logo .name {
    display: flex;
    flex-basis:100px;
    font-family: "Saira", sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
    flex-direction: column;
    letter-spacing: 2px;
}

.name .studio {
    color: rgb(190,88,89);
}

.logo .vertical-hr {
    border-left: 2px solid rgba(201,147,150,255); /* Creates the vertical line */
    height: 100%;                /* Height of the line */
    margin-left: 10px; 
}

.nav{
    display: flex;
    justify-content: flex-end;
}

.row .nav > ul {
    display: flex;
    gap: 25px;
    margin-top: 10px;
    cursor: default;
    font-family: "Fredoka", sans-serif;
    letter-spacing: 1px;
    list-style: none;
}

.row .nav > ul li {
    display: inline;
    padding: 5px;
    font-weight: 400;
    font-size: 1.3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    display: flex;
    position: relative;
}

.nav svg {
    color: rgb(190,88,89);
}

.row .nav ul button {
    font-family: "Fredoka", sans-serif;
    letter-spacing: 1px;
    font-weight: 500;
    font-size: 1.1rem;
    padding: 5px 15px;
    border: 1px solid rgb(190,88,89);
    border-radius: 100px;
    background-color: rgb(190,88,89);
    color: white;
    cursor: pointer;
    outline: 0;
}

.row .nav ul button:hover {
    background-color: #f9f7f2;
    color: rgb(190,88,89);
}

.dropdown_content {
    display: none;
    top: 50px;
    left: 0px;
    flex-direction: column;
    background-color: #f9f7f2;
    position: absolute;
    min-width: 152px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.dropdown_content a {
    text-decoration: none;
    color: black;
    display: block;
    padding: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.dropdown_content a:hover {
    background-color: rgba(190, 88, 90, 0.317);
}

.drop {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.drop:hover {
    background-color: rgba(190, 88, 90, 0.317);
}

.drop:hover .dropdown_content{
    display: block;
}
/* -------------------------------MAIN-BODY------------------------- */

.landing {
    padding: 0 140px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.landing p {
    font-family: "Noto Sans", sans-serif;
}

.landing .first {
    margin-top: 90px;
    margin-bottom: 0;
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: 1px;
}

.landing .sarvesh {
    font-size: 4.2rem;
    color: rgba(205,59,57,255);
    font-family: "Orbitron", sans-serif;
    font-weight: 100;
}

.landing .address {
    font-size: 1.5rem;
    letter-spacing: 3px;
    color: rgb(113, 112, 112);
    font-family: "Orbitron", sans-serif;
    font-weight: 200;
}

.landing .second {
    margin-top: 35px;
    font-size: 2rem;
    letter-spacing: 1px;
}

/* ---------------------------MY-WORK-------------------------- */

.my_work{
    height: fit-content;
    flex-direction: column;
    display: flex;
}

.my_work > h1 {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 70px;
    font-size: 2.7rem;
    font-weight: 600;
    letter-spacing: 2px;
    font-family: sans-serif;
}

.project1 {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.project1 .card {
    display: flex;
    flex-direction: column;
    width: 65%;
    border: 1px solid black;
    border-radius: 10px;
    padding: 35px;
}

.card img {
    border-radius: 10px;
    height: 550px;
}

.card h1 {
    margin-top: 0;
    margin-bottom: 48px;
    letter-spacing: 3px;
    font-size: 2.1rem;
    font-family: "Fredoka", sans-serif;
    font-weight: 400;
}

.card p {
    /* margin-top: 5px; */
    margin-bottom: 0;
    font-size: 1.7rem;
    letter-spacing: 3px;
    font-family: "Fredoka", sans-serif;
    font-weight: 100;
}

/* ------------------------------THANKYOU------------------------------------------------- */

.thankyou {
    display: flex;
    justify-content: center;
    border-bottom: 5px solid black;
}

.thankyou p {
    margin: 150px 0;
    font-size: 2rem;
    font-weight: 600;
    font-family: sans-serif;
    width: 100%;
    text-align: center;
    padding: 0 140px;
}

/* -------------------------------Footer---------------------------------------- */

.footer {
    padding: 100px 140px;
}

.footer .row {
    display: flex;
}

.footer .vertical-hr {
    margin-left: 20px;
}

.footer .icons {
    padding-left: 20px;
    display: flex;
    gap: 20px;
}

.icons svg {
    width: 30px;
    height: 30px;
    color: grey;
}

.icons svg:hover {
    color:  rgb(190,88,89);
}

.footer .insta {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer .linkedin {
    display: flex;
    flex-direction: column;
    justify-content: center;
}